<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="/javascripts/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/javascripts/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap-treeview.min.css">
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
  <link rel="stylesheet" href="/stylesheets/yasqe.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="/stylesheets/mTab-style.css" type="text/css" rel="stylesheet" />
  <script src="/javascripts/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/javascripts/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/semantic/dist/semantic.min.js"></script>
  <script src="/javascripts/d3sparql.js"></script>
  <script src="/javascripts/jquery-mTab-min.js"></script>
  <script src="/javascripts/yasqe.bundled.js"></script>
  <script src="/javascripts/bootstrap-treeview.min.js"></script>
  <script src="/javascripts/d3.min.js"></script>
  <script src="/javascripts/lodash.js"></script>
  <!-- global replaceAll fuction to remove string from text of turtle code -->
  <script>
    String.prototype.replaceAll = function(search, replacement) {
      var target = this;
      return target.replace(new RegExp(search, 'g'), replacement);
    };
  </script>


</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" href="#">
          <%= projectTitle %></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse in" aria-expanded="true" style="">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <% if (userConfigurations[0] ) {%>
          <li><a href="/turtleEditor">Turtle Editor</a></li><% } %>
          <% if ( userConfigurations[1] ) {%>
          <li><a href="/documentation">Documentation</a></li> <% } %>
          <% if (userConfigurations[2]){ %>
<li><a href="/visualization">Visualization</a></li><% } %>
<% if (userConfigurations[3]) {%>
<li><a href="/">Sparql End Point</a></li><% } %>

    <% if (userConfigurations[4]) {%>
<li><a href="/">Evolution</a></li><% } %>

      <% if (userConfigurations[5]) {%>
<li><a href="/">predefined Queries</a></li><% } %>

      <% if (userConfigurations[6]){ %>
<li><a href="/">Validation</a></li><% } %>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="https://github.com/ahemaid/conceptView"><i class="circular inverted github icon"></i></a>
          </li>
          <li>
            <a href="/contactus"><i class="circular inverted help icon"></i></a>
          </li>
          <li>
            <a href="/contactus"><i class="circular inverted mail icon"></i></a>
          </li>
          <li >        <a class="navbar-brand" href="#">    <img src="images/logo2.png" width="140" height="30" alt=""></a>
</li>
          <!-- <li><a href="../navbar-static-top/">Static top</a></li>
              <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li> -->
        </ul>
      </div>
    </div>
  </nav>
