<% include header %>
  <!--
    <h1><%-title %></h1>

--><div class="ui grid">
    <div class="ui container" style="margin-top: 20px !important;">
      <%- homePage %>
    </div>
  </div>


  <% include footer %>
