<% include header %>
  <!--
    <h1><%-title %></h1>
-->

  <% include footer %>
    <script>
      //for(; ; )
      // function blinking() {
      //   $('#validationLink').animate({ backgroundColor: "#FFFFFF"}, 1500);;
      //   //blinking(); transition('flash')
      // };
      // blinking();
      setInterval(function() {
    $('#validationLink').transition('flash');
    //effect('bounce',1000)
}, 1000);
    </script>
