<% include header %>

    <!--
    <div class="container-fluid">
-->
    <iframe src="./fuseki/dataset.html?tab=query&ds=/dataset" frameborder="0" style="margin-top:-100px; height:100%;width:100%;position:fixed; right: 0px; left: 0px;top:0px"></iframe>

    <!--
</div>-->
    <% include footer %>
