<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
  <title></title>
  <meta name="description" />
  <link rel="stylesheet" type="text/css" href="style.css">

  <script type="text/javascript" src="timeline-2.9.1/timeline.js"></script>

<link rel="stylesheet" href="scripts/css/bootstrap.min.css">
<link rel="stylesheet" href="scripts/css/bootstrap-theme.min.css">
<script src="scripts/js/jquery.min.js"></script>
<script src="scripts/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="timeline-2.9.1/timeline.css">

  <script type="text/javascript">

  $(function(){
      $('title').load("title.html");
      $("#menuHeader").load("header.html");
      $("#projectTitle").load("title.html");
    });

    var timeline;
    var data;

    // Called when the Visualization API is loaded.
    function drawVisualization() {

      data = $.parseJSON($.ajax({
        url: "data.json",
        async: false,
        dataType: 'json'
      }).responseText);

      for (var i = 0; i < data.length; i++) {

        data[i]['start'] = new Date(data[i]['start']);

      }

      // specify options
      var options = {
        'width': '100%',
        'height': '300px',
        'style': 'box'
      };

      // Instantiate our timeline object.
      timeline = new links.Timeline(document.getElementById('mytimeline'), options);

      // Draw our timeline with the created data and options
      timeline.draw(data);
    }
  </script>

</head>

<body onload="drawVisualization();">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/"><div id="projectTitle"></div></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
      <div id="menuHeader"></div>

        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <h3>Evolution Report</h3>
    <div>
      <div id="mytimeline"></div>
      <div> </div>
    </div>
  </div>



</body>

</html>
